---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "What's New: Troop 22";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
  <h6>OUR SCHEDULE ——— </h6>
  <h3 class="signal-header-cursive">Recent & Upcoming Events</h3>

  <h4 class="signal-header-cursive">Recent Events</h4>
  <ul>	
		  {allPosts
		  .filter((post:any)=> post.frontmatter.Event && new Date(post.frontmatter.pubDate) < new Date())
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>

  <h4 class="signal-header-cursive">Upcoming Events</h4>
  <ul>	
		  {allPosts
		  .filter((post:any)=> post.frontmatter.Event && new Date(post.frontmatter.pubDate) >= new Date())
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>

</BaseLayout>